@model VisualizarQuestoesViewModel

@{
    ViewBag.Titulo = "Visualização de Questões";
}

<p>
    <a class="btn btn-primary px-4" asp-action="Cadastrar">
        <i class="bi bi-plus"></i>
        Cadastrar Novo/a
    </a>
</p>

<hr />

<div class="d-flex flex-wrap gap-2">
    @foreach (var registro in Model.Registros)
    {
        <div class="col-12 col-md-3">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title">@registro.Enunciado</h5>

                    <p class="card-text mb-0">
                        <span class="fw-semibold">Resposta Correta:</span> @registro.RespostaCorreta
                    </p>

                    <p class="card-text mb-0">
                        <span class="fw-semibold">Matéria:</span> @registro.Materia
                    </p>

                    <p class="card-text mb-0">
                        <span class="fw-semibold">Utilizada em teste:</span> @registro.UtilizadaEmTeste
                    </p>

                    <span class="d-flex gap-1 justify-content-end mt-4">
                        <a asp-action="Detalhes" asp-route-id="@registro.Id" class="btn btn-secondary rounded-circle card-option" title="Detalhes">
                            <i class="bi bi-search"></i>
                        </a>
                        <a asp-action="Editar" asp-route-id="@registro.Id" class="btn btn-primary rounded-circle card-option" title="Edição">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a asp-action="Excluir" asp-route-id="@registro.Id" class="btn btn-danger rounded-circle card-option" title="Exclusão">
                            <i class="bi bi-trash"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    }
</div>